house-life/unpackage/
house-life/.idea/vcs.xml
house-life/.idea/modules.xml
house-life/.idea/inspectionProfiles/Project_Default.xml
house-life/.idea/house-life.iml
house-life/.hbuilderx/launch.json
house-life/.hbuilderx/launch.json
house-life/cx-house.zip
